[submodule "signals-breakout-programs"]
	path = signals-breakout-programs
	url = https://github.com/signals-protocol/signals-breakout-contracts
	branch = main
[submodule "signals-breakout-frontend"]
	path = signals-breakout-frontend
	url = https://github.com/signals-protocol/signals-breakout-frontend
	branch = main
